#footer {
    background: #111111;
    padding-top: 94px;
    margin-top: 70px;

    @media only screen and (max-width:768px){
        &{
            padding-top: 30px;
            margin-top: 30px;
        }
    }
   .container{
       p{
            font-family: 'content-thin';
            font-size: 15px;
            color: #fff;
            line-height: 30px;
       }
   }

   .title-footer{
       border-bottom: 1px solid #B9BABA;
       padding-bottom: 10px;
       margin-bottom: 20px;
       @media only screen and (max-width:768px){
        &{
            margin-top: 20px;
        }
    }
       h2{
           font-size: 20px;
           font-family: 'title-bold';
           color: #fff;
           text-transform: uppercase;
       }
   }

   .box-contact{
       p{
            padding-top: 20px;

            &:first-child{
                padding-top: unset;
            }
       }
   }

   .box-address{
       p{
           padding-bottom: 20px;
       }
   }

   .form-seach-ft{
       form{
           display: flex;
           align-items: center;
           justify-content: space-between;
           background: #333333;
           padding: 8px 0px;
           border-radius: 5px;
           input{
               border: none;
               outline: none;
               background: none;
                padding-left: 10px;
                color: #666666;
               &::placeholder{
                    font-family: 'content-thin';
                    font-size: 14px;
                    color: #666666;
               }
           }

           button{
                border: none;
                outline: none;
                background: none;
                color: #666666;
                font-size: 20px;
                transition: .3s ease-out;
                margin-right: 7px;

                &:hover{
                    color: #EE1D23;
                }
            }
        }
   }

   .box-links{
       ul{
           li{
               a{
                   font-size: 15px;
                   color: #fff;
                   line-height: 31px;
                   transition: .3s ease-out;

                   &:hover{
                        color: #EE1D23;
                    }
               }
           }
       }
   }

   .btn-down-now{
       color: #fff;
       font-size: 15px;
       background: #EE1D23;
       padding: 10px 30px;
       border-radius: 5px;
       margin-top: 25px;
       display: inline-block;
   }

   .end-ft{
       border-top: 1px solid #454547;
       padding: 18px 0px;
       margin-top: 50px;
       text-align: center;
        p{
            font-size: 15px;
            text-transform: uppercase;
            color: #666666;
            font-family: 'content-thin';
        }
   }

    a.cd-top {
        display: inline-block;
        height: 40px;
        width: 40px;
        position: fixed;
        bottom: 50px;
        right: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        /* image replacement properties */
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        background: #EE1D23 url('../images_icon/iconmonstr-arrow-66-16.png') no-repeat center 50%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .3s 0s, visibility 0s .3s;
        -moz-transition: opacity .3s 0s, visibility 0s .3s;
        transition: opacity .3s 0s, visibility 0s .3s;
        z-index: 999;
    }

    a.cd-top.cd-is-visible, a.cd-top.cd-fade-out, .no-touch a.cd-top:hover {
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }

    a.cd-top, a.cd-top:visited, a.cd-top:hover {
        color: #CCCCCC;
        text-decoration: none;
    }

    a.cd-top.cd-is-visible {
        /* the button becomes visible */
        visibility: visible;
        opacity: 1;
    }

    a.cd-top.cd-fade-out {
        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
        opacity: 1;
    }
}
