#header{
    .top-bar{
        background: #E6E7E8;
        &.off-top-bar{
            display: none;
        }
        .contact-bar{
            display: flex;
            line-height: 47px;
            p{
                font-size: 14px;
                color: #414042;
            }

            .hot-line{
                border-right: 1px solid #D3D3D3;
                padding-right: 15px;
                p::before{
                    content:"\f095";
                    font-family: "fontawesome";
                    padding-right: 5px;
                }
            }

            .mail{
                padding-left: 15px;
                p::before{
                    content:"\f0e0";
                    font-family: "fontawesome";
                    padding-right: 5px;
                }
            }
        }

        .right-top-bar{
            display: flex;
            align-items: center;
            button{
                background: transparent;
            }

            .search-hd{
                border-right: 1px solid #D3D3D3;
                line-height: 47px;
                padding-right: 10px;
                button{
                    color: #414042;
                    transition: .3s ease-out;
                    &:focus, &:active{
                        outline: none;
                    }

                    &:hover{
                        color: #EE1D23;
                    }
                }
            }

            .chosse-flag{
                padding-left: 10px;
                padding-right: 7px;
                .vodiapicker{
                    display: none; 
                }

                .lang-select{
                    height: 25px;
                }
                  
                #a{
                    padding-left: 0px;
                }
                  
                #a img, .btn-select img{
                    width: 25px;
                    height: 16px;
                }
                  
                #a li{
                    list-style: none;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    text-align: center;
                }
                  
                #a li:hover{
                   background-color: #F4F3F3;
                }
                  
                #a li img{
                    margin: 5px;
                }
                                    
                  /* item list */
                  
                .b{
                    width: 100%;
                    max-width: 60px;
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                    position: absolute;
                    z-index: 5;
                    background: #fff;
                    display: none;
                }
                  
                .open{
                    display: show !important;
                }
                  
                .btn-select{
                    width: 100%;
                    height: auto;
                    position: relative;
                    display: flex;
                    align-items: center;
                    &::after{
                        content:"\f107";
                        font-family: "fontawesome";
                        padding-left: 5px;
                        padding-bottom: 3px;
                    }           
                }
                .btn-select li{
                    list-style: none;
                    padding-bottom: 0px;
                }
                  
                  
                .btn-select:focus{
                    outline:none;
                }
            }

            .folow-ic-bar{
                border-left: 1px solid #D3D3D3;
                line-height: 47px;
                padding-left: 10px;

                a{
                    display: inline-block;
                    margin-right: 15px;
                    font-size: 16px;
                    color: #58595B;
                    transition: .3s ease-out;
                    &:last-child{
                        margin-right: unset;
                    }
                    &:hover{
                        color: #EE1D23;
                    }
                }
            }
        }
    }

    .header-main{
        background: #fff;
        &.stuck-header{
            position: fixed;
            top:0;
            left: 0;
            width: 100%;
            z-index: 998;
            box-shadow: 0px 1px 10px 1px rgba(175, 179, 182, 0.267);
            animation: fade_hd 1.7s forwards;

            @keyframes fade_hd {
                0%{
                    opacity: 0;
                    visibility: hidden;
                }

                100%{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .container{
            padding: 15px 0px;
        }
        .moblie-bar{
            button{
                border: none;
                background: transparent;
                font-size: 18px;
            }
        }

        .logo{
            max-width: 140px;
        }

        .main-nav{
            ul{
                display: flex;
                flex-wrap: wrap;

                li{
                    margin-right: 25px;

                    &:last-child{
                        margin-right: unset;
                    }
                    a{
                        display: block;
                        font-size: 15px;
                        transition: .3s ease-out;
                        text-transform: uppercase;

                        &:hover{
                            color: #EE1D23;
                        }
                    }
                }
            }
        }
    }
}