@import "reset";
@import "header";
@import "footer";
@import "mobile_nav";

@font-face {
    font-family: 'title-bold';
    src: url('../fonts/font/HKNova-HeavyR.otf');
}

@font-face {
    font-family: 'content-bold';
    src: url('../fonts/font/HKNova-Bold.otf');
}

@font-face {
    font-family: 'content-normal';
    src: url('../fonts/font/HKNova-Medium.otf');
}

@font-face{
    font-family: 'content-thin';
    src: url('../fonts/font/HKNova-Regular.otf');
}

@mixin main-title {
    text-align: center;
    h2, h1, h3{
        font-size: 34px;
        text-transform: uppercase;
        font-family: 'title-bold';
    }

    .dv-line{
        width: 210px;
        height: 1px;
        background: #EE1D23;
        margin: 15px auto 35px auto;
    }
}

.product-box{
    -webkit-box-shadow: 0px 1px 10px 1px rgba(175,179,182,0.6); 
    box-shadow: 0px 1px 10px 1px rgba(175,179,182,0.6);
    margin-bottom: 20px;
    .box-text{
        padding: 12px 10px 20px 13px;
        .cate-title{
            a{
                font-size: 29px;
                font-family: 'content-bold';
                transition: .3s ease-out;

                &:hover{
                    color: #EE1D23;
                }
            }
        }

        .pr-title{
            padding-top: 5px;
            a{
                font-size: 18px;
                font-family: 'content-normal';
                color: #EE1D23;
            }
        }

        .desc{
            padding-top: 20px;
            p{
                font-family: 'content-thin';
                font-size: 16px;
            }
        }

        .see-detail{
            font-size: 16px;
            font-family: 'content-thin';
            border: 1px solid #EE1D23;
            background: #fff;
            padding: 5px 30px;
            display: inline-block;
            transition: .3s ease-out;
            margin-top: 15px;

            &:hover{
                color: #fff;
                background: #EE1D23;
            }
        }
    }
}

// ---------------------------------------------------------------- home page -----------------------------------------------------------------------

.banner-slide{
    .owl-carousel{
        .item{
            margin-bottom: 0px;
        }
    
        &.owl-theme .owl-nav [class*=owl-]:hover{
            background: rgba(51, 51, 51, 0.678);
        }
        
        &.owl-theme .owl-dots{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 93%;

            @media only screen and (max-width: 576px){
                &{
                    top: 86%;
                }
            }
        }

        &.owl-theme .owl-dots .owl-dot{
            outline: none;
            &.active span{
                background-color: #343A40;
            }
            span{
                margin: 5px 3px;
                background: #FFFFFF;
    
                &:hover{
                    background-color: #343A40;
                }
            }
        }
    
        &:hover .owl-nav{
            opacity: 1;
            visibility: visible;
        }
        .owl-nav{
            opacity: 1;
            visibility: visible;
            transition: .3s ease-in-out;
            margin-top: unset;
            @media only screen and (max-width: 768px){
                &{
                    opacity: 1;
                    visibility: visible;
                }
            }
            button{
                background-color: none;
                border: none;
                outline: none;
                font-size: 50px;
                z-index: 4;
                background: rgba(51, 51, 51, 0.678);
                color: #fff;
                margin: 0;

                span{
                    display: block;
                    margin-bottom: 6px;                   
                    padding: 0px 7px;
                }

                &:hover{

                    color: #fff;
                }
    
                &.owl-prev{
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    font-size: 50px;
                    transform: translateY(-50%);
                    @media only screen and (max-width: 768px){
                        &{
                            left: 0px;
                        }
                    }
                }
    
                &.owl-next{
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    font-size: 50px;
                    transform: translateY(-50%);
                    @media only screen and (max-width: 768px){
                        &{
                            right: 0px;
                        }
                    }
                }
            }
        }
    }

    .banner-box{
        position: relative;
        .images{
            position: relative;
            z-index: 1;
            height: 660px;
            max-width: 100%;

            @media only screen and (max-width: 576px){
                &{
                    height: 320px;
                }
            }

            img{
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }
        }

        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left: 0;
            background: rgba(0, 0, 0, 0.37);
            z-index: 2;
        }

        .box-text{
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            color: #fff;
            text-align: center;
            width: 95%;
           
            h3{
                font-size: 35px;
            }

            h2{
                font-size: 56px;
                font-family: 'content-bold';
                padding-top: 10px;
            }

            .btn-see-more{
                font-size: 14px;
                text-transform: capitalize;
                background: #EE1D23;
                border: 1px solid #fff;
                border-radius: 3px;
                color: #fff;
                padding: 10px 27px;
                display: inline-block;
                margin-top: 20px;
            }

            @media only screen and (max-width: 576px){
                &{
                    h3{
                        font-size: 15px;
                    }

                    h2{
                        font-size: 16px;
                    }

                    .btn-see-more{
                        font-size: 13px;
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}

.hot-deal{
    padding-top: 80px;
    .hot-deal-title{
        @include main-title();
    }
    @media only screen and (max-width: 768px){
        &{
            padding-top: 60px;
        }
    }

    @media only screen and (max-width: 576px){
        &{
            padding-top: 30px;
        }
    }
    .recent-free-self{
        .box-self{
            position: relative;
            overflow: hidden;
            margin-bottom: 30px;
            &:hover .images img{
                transform: scale(1.1);
            }

            &:hover .box-text{
                transform: translateY(0%);
                opacity: 1;
                visibility: visible;
            }

            .images{
                position: relative;
                max-width: 100%;
                height: 240px;
                overflow: hidden;
                z-index: 1;
                img{
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                    transition: .3s ease-out;
                }
            }

            .box-text{
                position: absolute;
                width: 100%;
                bottom: 0px;
                left: 0;
                background: #ee1d24ab;
                text-align: center;
                transition: .3s ease-out;
                z-index: 2;
                padding: 11px 0px;
                transform: translateY(70%);
                opacity: 0;
                visibility: hidden;

                h4{
                    font-size: 22px;
                    color: #fff;
                    text-transform: uppercase;
                }
            }
        }
    }
    .owl-carousel{
        .item{
            margin-bottom: 0px;
        }
    
        &.owl-theme .owl-nav [class*=owl-]:hover{
            background: rgba(51, 51, 51, 0.678);
        }
        
        &.owl-theme .owl-dots{
            margin-top: -15px;
        }
        &.owl-theme .owl-dots .owl-dot{
            outline: none;
            &.active span{
                background-color: #EE1D23;
            }
            span{
                margin: 5px 3px;
                background: #000;
    
                &:hover{
                    background-color: #EE1D23;
                }
            }
        }
    
        &:hover .owl-nav{
            opacity: 1;
            visibility: visible;
        }
    }
}

.popular-product{
    padding-top: 80px;
    .main-title{
        @include main-title();
    }
}

.blogs{
    padding-top: 80px;
    .main-title{
        @include main-title();
    }

    .card{
        border: none;
    }
    .blogs-box{
        border: none;

        .images{
            height: 390px;
            @media only screen and (max-width: 768px){
                &{
                    height: auto;
                }
            }
        }

        @media only screen and (max-width: 768px){
            &{
                margin-bottom: 25px;
            }
        }
    }

    .blogs-box-vertical{
        flex-direction: row;
        margin-bottom: 30px;
        .images{
            height: 180px;
            flex: 0 0 43.6%;
            @media only screen and (max-width: 768px){
                &{
                    height: 120px;
                }
            }
        }
        .blog-title{
            padding-top: 0px;
        }

        .box-text{
            flex: 0 0 56%;
            margin-left: 15px;
        }

        .desc{
            padding-top: 15px;
            p{
                -webkit-line-clamp: 4;
                
            }
            @media only screen and (max-width: 768px){
                &{
                    padding-top: 10px;
                    p{
                        -webkit-line-clamp: 2;
                    }
                }
            }
        }
    }

    .images{
        max-width: 100%;
        overflow: hidden;
        img{
            vertical-align: middle;
            width: 100%;
            height: 100%;
        }
    }

    .blog-title{
        padding-top: 14px;
        a{
            font-size: 22px;
            transition: .3s ease-out;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover{
                color: #EE1D23;
            }
        }
    }

    .desc{
        padding-top: 15px;
        p{
            font-size: 15px;
            font-family: 'content-thin';
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.client-feel{
    background-image: url("../images/bn2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 75px 0px;
    margin-top: 60px;
    .client-title{
        @include main-title();
        h2{
            color: #fff;
        }

        .dv-line{
            background: #fff;
        }
    }

    .card{
        border:none;
        overflow: hidden;
        text-align: center;
        border-radius: 5px;

        &.client-box{
            &:hover .box-text h4{
                color: #EE1D23;
            }
            .box-images{
                max-width: 220px;
                height: 125px;
                overflow: hidden;
                position: relative;

                img{
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                    position: relative;
                    @media only screen and (max-width: 768px){
                        &{
                            object-fit: cover;
                        }
                    }
                }

                .fa{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #fff;
                    width: 45px;
                    height: 45px;
                    border: 2px solid #fff;
                    border-radius: 50%;
                }
            }

            .box-text{
                padding: 20px;
                h4{
                    font-size: 14px;
                    font-family: 'content-thin';             
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 22px;
                    transition: .3s ease-out;
                }
            }
        }
    }

    .owl-carousel{
        .item{
            margin-bottom: 10px;
        }
    
        &.owl-theme .owl-nav [class*=owl-]:hover{
            background: #ee1d2493;
        }
    

    
        &:hover .owl-nav{
            opacity: 1;
            visibility: visible;
        }
        .owl-nav{
            opacity: 1;
            visibility: visible;
            transition: .3s ease-in-out;
            margin-top: unset;
            @media only screen and (max-width: 768px){
                &{
                    opacity: 1;
                    visibility: visible;
                }
            }
            button{     
                background-color: #adadad9a;
                border: none;
                outline: none;
                font-size: 30px;
                z-index: 4;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;

                &.owl-prev{
                    position: absolute;
                    top: 45%;
                    left: -25px;
                    transform: translateY(-50%);
                    @media only screen and (max-width: 768px){
                        &{
                            left: -20px;
                        }
                    }
                }
    
                &.owl-next{
                    position: absolute;
                    top: 45%;
                    right: -25px;
                    transform: translateY(-50%);           
                    @media only screen and (max-width: 768px){
                        &{
                            right: -20px;
                        }
                    }
                }
            }
        }
    }

}

.our-partner{
    padding: 50px 0px;
    .partner-title{
        @include main-title();
    }

    .row{
        &.no-gutters>[class*=col-] {
            padding-right: 10px;
            padding-left: 10px;
        }
    }

    .box-logo{
        background: #F1F2F2;
        border: 1px solid #D9DBDC;
        border-radius: 5px;
        padding: 25px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 220px;
        margin-bottom: 20px;

        img{
            width: 100%;
            vertical-align: middle;
        }
    }
}