#footer {
  background: #111111;
  padding-top: 94px;
  margin-top: 70px; }
  @media only screen and (max-width: 768px) {
    #footer {
      padding-top: 30px;
      margin-top: 30px; } }
  #footer .container p {
    font-family: 'content-thin';
    font-size: 15px;
    color: #fff;
    line-height: 30px; }
  #footer .title-footer {
    border-bottom: 1px solid #B9BABA;
    padding-bottom: 10px;
    margin-bottom: 20px; }
    @media only screen and (max-width: 768px) {
      #footer .title-footer {
        margin-top: 20px; } }
    #footer .title-footer h2 {
      font-size: 20px;
      font-family: 'title-bold';
      color: #fff;
      text-transform: uppercase; }
  #footer .box-contact p {
    padding-top: 20px; }
    #footer .box-contact p:first-child {
      padding-top: unset; }
  #footer .box-address p {
    padding-bottom: 20px; }
  #footer .form-seach-ft form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333333;
    padding: 8px 0px;
    border-radius: 5px; }
    #footer .form-seach-ft form input {
      border: none;
      outline: none;
      background: none;
      padding-left: 10px;
      color: #666666; }
      #footer .form-seach-ft form input::placeholder {
        font-family: 'content-thin';
        font-size: 14px;
        color: #666666; }
    #footer .form-seach-ft form button {
      border: none;
      outline: none;
      background: none;
      color: #666666;
      font-size: 20px;
      transition: .3s ease-out;
      margin-right: 7px; }
      #footer .form-seach-ft form button:hover {
        color: #EE1D23; }
  #footer .box-links ul li a {
    font-size: 15px;
    color: #fff;
    line-height: 31px;
    transition: .3s ease-out; }
    #footer .box-links ul li a:hover {
      color: #EE1D23; }
  #footer .btn-down-now {
    color: #fff;
    font-size: 15px;
    background: #EE1D23;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 25px;
    display: inline-block; }
  #footer .end-ft {
    border-top: 1px solid #454547;
    padding: 18px 0px;
    margin-top: 50px;
    text-align: center; }
    #footer .end-ft p {
      font-size: 15px;
      text-transform: uppercase;
      color: #666666;
      font-family: 'content-thin'; }
  #footer a.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #EE1D23 url("../images_icon/iconmonstr-arrow-66-16.png") no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    z-index: 999; }
  #footer a.cd-top.cd-is-visible, #footer a.cd-top.cd-fade-out, #footer .no-touch a.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  #footer a.cd-top, #footer a.cd-top:visited, #footer a.cd-top:hover {
    color: #CCCCCC;
    text-decoration: none; }
  #footer a.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1; }
  #footer a.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 1; }

/*# sourceMappingURL=footer.css.map */
