#header .top-bar {
  background: #E6E7E8; }
  #header .top-bar.off-top-bar {
    display: none; }
  #header .top-bar .contact-bar {
    display: flex;
    line-height: 47px; }
    #header .top-bar .contact-bar p {
      font-size: 14px;
      color: #414042; }
    #header .top-bar .contact-bar .hot-line {
      border-right: 1px solid #D3D3D3;
      padding-right: 15px; }
      #header .top-bar .contact-bar .hot-line p::before {
        content: "\f095";
        font-family: "fontawesome";
        padding-right: 5px; }
    #header .top-bar .contact-bar .mail {
      padding-left: 15px; }
      #header .top-bar .contact-bar .mail p::before {
        content: "\f0e0";
        font-family: "fontawesome";
        padding-right: 5px; }
  #header .top-bar .right-top-bar {
    display: flex;
    align-items: center; }
    #header .top-bar .right-top-bar button {
      background: transparent; }
    #header .top-bar .right-top-bar .search-hd {
      border-right: 1px solid #D3D3D3;
      line-height: 47px;
      padding-right: 10px; }
      #header .top-bar .right-top-bar .search-hd button {
        color: #414042;
        transition: .3s ease-out; }
        #header .top-bar .right-top-bar .search-hd button:focus, #header .top-bar .right-top-bar .search-hd button:active {
          outline: none; }
        #header .top-bar .right-top-bar .search-hd button:hover {
          color: #EE1D23; }
    #header .top-bar .right-top-bar .chosse-flag {
      padding-left: 10px;
      padding-right: 7px;
      /* item list */ }
      #header .top-bar .right-top-bar .chosse-flag .vodiapicker {
        display: none; }
      #header .top-bar .right-top-bar .chosse-flag .lang-select {
        height: 25px; }
      #header .top-bar .right-top-bar .chosse-flag #a {
        padding-left: 0px; }
      #header .top-bar .right-top-bar .chosse-flag #a img, #header .top-bar .right-top-bar .chosse-flag .btn-select img {
        width: 25px;
        height: 16px; }
      #header .top-bar .right-top-bar .chosse-flag #a li {
        list-style: none;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center; }
      #header .top-bar .right-top-bar .chosse-flag #a li:hover {
        background-color: #F4F3F3; }
      #header .top-bar .right-top-bar .chosse-flag #a li img {
        margin: 5px; }
      #header .top-bar .right-top-bar .chosse-flag .b {
        width: 100%;
        max-width: 60px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        position: absolute;
        z-index: 5;
        background: #fff;
        display: none; }
      #header .top-bar .right-top-bar .chosse-flag .open {
        display: show !important; }
      #header .top-bar .right-top-bar .chosse-flag .btn-select {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        align-items: center; }
        #header .top-bar .right-top-bar .chosse-flag .btn-select::after {
          content: "\f107";
          font-family: "fontawesome";
          padding-left: 5px;
          padding-bottom: 3px; }
      #header .top-bar .right-top-bar .chosse-flag .btn-select li {
        list-style: none;
        padding-bottom: 0px; }
      #header .top-bar .right-top-bar .chosse-flag .btn-select:focus {
        outline: none; }
    #header .top-bar .right-top-bar .folow-ic-bar {
      border-left: 1px solid #D3D3D3;
      line-height: 47px;
      padding-left: 10px; }
      #header .top-bar .right-top-bar .folow-ic-bar a {
        display: inline-block;
        margin-right: 15px;
        font-size: 16px;
        color: #58595B;
        transition: .3s ease-out; }
        #header .top-bar .right-top-bar .folow-ic-bar a:last-child {
          margin-right: unset; }
        #header .top-bar .right-top-bar .folow-ic-bar a:hover {
          color: #EE1D23; }
#header .header-main {
  background: #fff; }
  #header .header-main.stuck-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    box-shadow: 0px 1px 10px 1px rgba(175, 179, 182, 0.267);
    animation: fade_hd 1.7s forwards; }
@keyframes fade_hd {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
  #header .header-main .container {
    padding: 15px 0px; }
  #header .header-main .moblie-bar button {
    border: none;
    background: transparent;
    font-size: 18px; }
  #header .header-main .logo {
    max-width: 140px; }
  #header .header-main .main-nav ul {
    display: flex;
    flex-wrap: wrap; }
    #header .header-main .main-nav ul li {
      margin-right: 25px; }
      #header .header-main .main-nav ul li:last-child {
        margin-right: unset; }
      #header .header-main .main-nav ul li a {
        display: block;
        font-size: 15px;
        transition: .3s ease-out;
        text-transform: uppercase; }
        #header .header-main .main-nav ul li a:hover {
          color: #EE1D23; }

/*# sourceMappingURL=header.css.map */
