html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  font-family: 'content-normal';
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  img {
    object-fit: fill;
  }
}

@media only screen and (max-width) {
  html {
    overflow-x: hidden;
  }
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.owl-carousel .item {
  margin-bottom: 10px;
}
.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: unset;
}
.owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #343A40;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 5px 5px;
  background: #FFFFFF;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #343A40;
}
.owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}
.owl-carousel .owl-nav {
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out;
  margin-top: unset;
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav {
    opacity: 1;
    visibility: visible;
  }
}
.owl-carousel .owl-nav button {
  background-color: none;
  border: none;
  outline: none;
  font-size: 50px;
  z-index: 4;
}
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: -25px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav button.owl-prev {
    left: -20px;
  }
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: -25px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }
}

#header .top-bar {
  background: #E6E7E8;
}
#header .top-bar.off-top-bar {
  display: none;
}
#header .top-bar .contact-bar {
  display: flex;
  line-height: 47px;
}
#header .top-bar .contact-bar p {
  font-size: 14px;
  color: #414042;
}
#header .top-bar .contact-bar .hot-line {
  border-right: 1px solid #D3D3D3;
  padding-right: 15px;
}
#header .top-bar .contact-bar .hot-line p::before {
  content: "\f095";
  font-family: "fontawesome";
  padding-right: 5px;
}
#header .top-bar .contact-bar .mail {
  padding-left: 15px;
}
#header .top-bar .contact-bar .mail p::before {
  content: "\f0e0";
  font-family: "fontawesome";
  padding-right: 5px;
}
#header .top-bar .right-top-bar {
  display: flex;
  align-items: center;
}
#header .top-bar .right-top-bar button {
  background: transparent;
}
#header .top-bar .right-top-bar .search-hd {
  border-right: 1px solid #D3D3D3;
  line-height: 47px;
  padding-right: 10px;
}
#header .top-bar .right-top-bar .search-hd button {
  color: #414042;
  transition: .3s ease-out;
}
#header .top-bar .right-top-bar .search-hd button:focus, #header .top-bar .right-top-bar .search-hd button:active {
  outline: none;
}
#header .top-bar .right-top-bar .search-hd button:hover {
  color: #EE1D23;
}
#header .top-bar .right-top-bar .chosse-flag {
  padding-left: 10px;
  padding-right: 7px;
  /* item list */
}
#header .top-bar .right-top-bar .chosse-flag .vodiapicker {
  display: none;
}
#header .top-bar .right-top-bar .chosse-flag .lang-select {
  height: 25px;
}
#header .top-bar .right-top-bar .chosse-flag #a {
  padding-left: 0px;
}
#header .top-bar .right-top-bar .chosse-flag #a img, #header .top-bar .right-top-bar .chosse-flag .btn-select img {
  width: 25px;
  height: 16px;
}
#header .top-bar .right-top-bar .chosse-flag #a li {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
#header .top-bar .right-top-bar .chosse-flag #a li:hover {
  background-color: #F4F3F3;
}
#header .top-bar .right-top-bar .chosse-flag #a li img {
  margin: 5px;
}
#header .top-bar .right-top-bar .chosse-flag .b {
  width: 100%;
  max-width: 60px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  position: absolute;
  z-index: 5;
  background: #fff;
  display: none;
}
#header .top-bar .right-top-bar .chosse-flag .open {
  display: show !important;
}
#header .top-bar .right-top-bar .chosse-flag .btn-select {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
}
#header .top-bar .right-top-bar .chosse-flag .btn-select::after {
  content: "\f107";
  font-family: "fontawesome";
  padding-left: 5px;
  padding-bottom: 3px;
}
#header .top-bar .right-top-bar .chosse-flag .btn-select li {
  list-style: none;
  padding-bottom: 0px;
}
#header .top-bar .right-top-bar .chosse-flag .btn-select:focus {
  outline: none;
}
#header .top-bar .right-top-bar .folow-ic-bar {
  border-left: 1px solid #D3D3D3;
  line-height: 47px;
  padding-left: 10px;
}
#header .top-bar .right-top-bar .folow-ic-bar a {
  display: inline-block;
  margin-right: 15px;
  font-size: 16px;
  color: #58595B;
  transition: .3s ease-out;
}
#header .top-bar .right-top-bar .folow-ic-bar a:last-child {
  margin-right: unset;
}
#header .top-bar .right-top-bar .folow-ic-bar a:hover {
  color: #EE1D23;
}
#header .header-main {
  background: #fff;
}
#header .header-main.stuck-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  box-shadow: 0px 1px 10px 1px rgba(175, 179, 182, 0.267);
  animation: fade_hd 1.7s forwards;
}
@keyframes fade_hd {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
#header .header-main .container {
  padding: 15px 0px;
}
#header .header-main .moblie-bar button {
  border: none;
  background: transparent;
  font-size: 18px;
}
#header .header-main .logo {
  max-width: 140px;
}
#header .header-main .main-nav ul {
  display: flex;
  flex-wrap: wrap;
}
#header .header-main .main-nav ul li {
  margin-right: 25px;
}
#header .header-main .main-nav ul li:last-child {
  margin-right: unset;
}
#header .header-main .main-nav ul li a {
  display: block;
  font-size: 15px;
  transition: .3s ease-out;
  text-transform: uppercase;
}
#header .header-main .main-nav ul li a:hover {
  color: #EE1D23;
}

#footer {
  background: #111111;
  padding-top: 94px;
  margin-top: 70px;
}
@media only screen and (max-width: 768px) {
  #footer {
    padding-top: 30px;
    margin-top: 30px;
  }
}
#footer .container p {
  font-family: 'content-thin';
  font-size: 15px;
  color: #fff;
  line-height: 30px;
}
#footer .title-footer {
  border-bottom: 1px solid #B9BABA;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  #footer .title-footer {
    margin-top: 20px;
  }
}
#footer .title-footer h2 {
  font-size: 20px;
  font-family: 'title-bold';
  color: #fff;
  text-transform: uppercase;
}
#footer .box-contact p {
  padding-top: 20px;
}
#footer .box-contact p:first-child {
  padding-top: unset;
}
#footer .box-address p {
  padding-bottom: 20px;
}
#footer .form-seach-ft form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333333;
  padding: 8px 0px;
  border-radius: 5px;
}
#footer .form-seach-ft form input {
  border: none;
  outline: none;
  background: none;
  padding-left: 10px;
  color: #666666;
}
#footer .form-seach-ft form input::placeholder {
  font-family: 'content-thin';
  font-size: 14px;
  color: #666666;
}
#footer .form-seach-ft form button {
  border: none;
  outline: none;
  background: none;
  color: #666666;
  font-size: 20px;
  transition: .3s ease-out;
  margin-right: 7px;
}
#footer .form-seach-ft form button:hover {
  color: #EE1D23;
}
#footer .box-links ul li a {
  font-size: 15px;
  color: #fff;
  line-height: 31px;
  transition: .3s ease-out;
}
#footer .box-links ul li a:hover {
  color: #EE1D23;
}
#footer .btn-down-now {
  color: #fff;
  font-size: 15px;
  background: #EE1D23;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 25px;
  display: inline-block;
}
#footer .end-ft {
  border-top: 1px solid #454547;
  padding: 18px 0px;
  margin-top: 50px;
  text-align: center;
}
#footer .end-ft p {
  font-size: 15px;
  text-transform: uppercase;
  color: #666666;
  font-family: 'content-thin';
}
#footer a.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #EE1D23 url("../images_icon/iconmonstr-arrow-66-16.png") no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  z-index: 999;
}
#footer a.cd-top.cd-is-visible, #footer a.cd-top.cd-fade-out, #footer .no-touch a.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
#footer a.cd-top, #footer a.cd-top:visited, #footer a.cd-top:hover {
  color: #CCCCCC;
  text-decoration: none;
}
#footer a.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
#footer a.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}

html.hc-nav-yscroll {
  overflow-y: scroll;
}

body.hc-nav-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  min-height: 100%;
}

.hc-offcanvas-nav {
  visibility: hidden;
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 9999;
}

.hc-offcanvas-nav.is-ios * {
  cursor: pointer !important;
}

.hc-offcanvas-nav .nav-container {
  position: fixed;
  z-index: 9998;
  top: 0;
  width: 280px;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  transition: transform .4s ease;
}

.hc-offcanvas-nav .nav-wrapper {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overscroll-behavior: none;
  box-sizing: border-box;
}

.hc-offcanvas-nav .nav-content {
  height: 100%;
  max-height: 100vh;
}

.hc-offcanvas-nav .nav-wrapper-0 > .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hc-offcanvas-nav li {
  position: relative;
  display: block;
}

.hc-offcanvas-nav li.level-open > .nav-wrapper {
  visibility: visible;
}

.hc-offcanvas-nav input[type="checkbox"] {
  display: none;
}

.hc-offcanvas-nav label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
}

.hc-offcanvas-nav a {
  position: relative;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}

.hc-offcanvas-nav a,
.hc-offcanvas-nav a:hover {
  text-decoration: none;
}

.hc-offcanvas-nav.disable-body::after,
.hc-offcanvas-nav .nav-wrapper::after {
  content: '';
  position: fixed;
  z-index: 9990;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease .4s, opacity .4s ease;
}

.hc-offcanvas-nav.disable-body.nav-open::after,
.hc-offcanvas-nav .sub-level-open::after {
  visibility: visible;
  opacity: 1;
  transition-delay: .05s;
}

.hc-offcanvas-nav:not(.nav-open)::after {
  pointer-events: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-expand .nav-wrapper::after {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand ul .nav-wrapper {
  min-width: 0;
  max-height: 0;
  overflow: hidden;
  transition: height 0s ease .4s;
}

.hc-offcanvas-nav.nav-levels-expand .level-open > .nav-wrapper {
  max-height: none;
}

.hc-offcanvas-nav.nav-levels-overlap .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-overlap ul .nav-wrapper {
  position: absolute;
  z-index: 9999;
  top: 0;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s ease .4s, transform .4s ease;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.nav-parent {
  position: static;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.level-open > .nav-wrapper {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: transform .4s ease;
}

.hc-offcanvas-nav.nav-position-left {
  left: 0;
}

.hc-offcanvas-nav.nav-position-left .nav-container {
  left: 0;
  transform: translate3d(-280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-left.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-right {
  right: 0;
}

.hc-offcanvas-nav.nav-position-right .nav-container {
  right: 0;
  transform: translate3d(280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-right.nav-levels-overlap li .nav-wrapper {
  right: 0;
  transform: translate3d(100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-top {
  top: 0;
}

.hc-offcanvas-nav.nav-position-top .nav-container {
  top: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-top.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom {
  top: auto;
  bottom: 0;
}

.hc-offcanvas-nav.nav-position-bottom .nav-container {
  top: auto;
  bottom: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-open[class*='hc-nav-'] div.nav-container {
  transform: translate3d(0, 0, 0);
}

.hc-nav-trigger {
  position: absolute;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  top: 30px;
  left: 10px;
  z-index: 9980;
  width: 30px;
  min-height: 24px;
}

.hc-nav-trigger span {
  width: 30px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transform-origin: 50% 50%;
}

.hc-nav-trigger span,
.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  display: block;
  position: absolute;
  left: 0;
  height: 4px;
  background: #34495E;
  transition: all .2s ease;
}

.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  content: '';
  width: 100%;
}

.hc-nav-trigger span::before {
  top: -10px;
}

.hc-nav-trigger span::after {
  bottom: -10px;
}

.hc-nav-trigger.toggle-open span {
  background: rgba(0, 0, 0, 0);
  transform: rotate(45deg);
}

.hc-nav-trigger.toggle-open span::before {
  transform: translate3d(0, 10px, 0);
}

.hc-nav-trigger.toggle-open span::after {
  transform: rotate(-90deg) translate3d(10px, 0, 0);
}

.hc-offcanvas-nav::after,
.hc-offcanvas-nav .nav-wrapper::after {
  background: rgba(0, 0, 0, 0.3);
}

.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
  background: #336ca6;
}

.hc-offcanvas-nav h2 {
  font-size: 19px;
  font-weight: normal;
  text-align: left;
  padding: 20px 17px;
  color: #1b3958;
}

.hc-offcanvas-nav a {
  padding: 14px 17px;
  font-size: 15px;
  color: #fff;
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #2c5d8f;
}

.hc-offcanvas-nav:not(.touch-device) a:hover {
  background: #31679e;
}

.hc-offcanvas-nav ul:first-of-type:not(:first-child) > li:first-child:not(.nav-back):not(.nav-close) > a {
  border-top: 1px solid #2c5d8f;
  margin-top: -1px;
}

.hc-offcanvas-nav li {
  text-align: left;
}

.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav li.nav-back a {
  background: #2c5d8f;
  border-top: 1px solid #295887;
  border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav li.nav-close a:hover,
.hc-offcanvas-nav li.nav-back a:hover {
  background: #2b5c8d;
}

.hc-offcanvas-nav li.nav-parent a {
  padding-right: 58px;
}

.hc-offcanvas-nav li.nav-close span,
.hc-offcanvas-nav li.nav-parent span.nav-next,
.hc-offcanvas-nav li.nav-back span {
  width: 45px;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  text-align: center;
  cursor: pointer;
  transition: background .2s ease;
}

.hc-offcanvas-nav li.nav-close span::before,
.hc-offcanvas-nav li.nav-close span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -9px;
  transform: rotate(135deg);
}

.hc-offcanvas-nav li.nav-close span::after {
  transform: rotate(-45deg);
}

.hc-offcanvas-nav a[href]:not([href="#"]) > span.nav-next {
  border-left: 1px solid #2c5d8f;
}

.hc-offcanvas-nav span.nav-next::before,
.hc-offcanvas-nav li.nav-back span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -2px;
  box-sizing: border-box;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform-origin: center;
}

.hc-offcanvas-nav span.nav-next::before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav li.nav-back span::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-left.nav-open .nav-wrapper {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right.nav-open .nav-wrapper {
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-right li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav.nav-position-top.nav-open .nav-wrapper {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-top span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-position-top li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom.nav-open .nav-wrapper {
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-bottom span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul .nav-wrapper,
.hc-offcanvas-nav.nav-levels-none .nav-container ul .nav-wrapper {
  box-shadow: none;
  background: transparent;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul h2,
.hc-offcanvas-nav.nav-levels-none .nav-container ul h2 {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul ul a,
.hc-offcanvas-nav.nav-levels-none .nav-container ul ul a {
  font-size: 14px;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li,
.hc-offcanvas-nav.nav-levels-none .nav-container li {
  transition: background .3s ease;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open {
  background: #2e6296;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open a,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open a {
  border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
  background: #212529;
}

.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
  background: #212529;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.hc-offcanvas-nav a {
  border-bottom: 1px solid #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.hc-offcanvas-nav h2 {
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}

.hc-offcanvas-nav li.nav-close span::before, .hc-offcanvas-nav li.nav-close span::after {
  border-left: 0;
  width: 25px;
  height: 15px;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: -13px;
}

.hc-offcanvas-nav li.nav-close span::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-top: -13px;
  margin-left: -1px;
}

.nav-close a {
  padding: 25px 15px;
}

.hc-offcanvas-nav h2 {
  text-transform: uppercase;
}

@font-face {
  font-family: 'title-bold';
  src: url("../fonts/font/HKNova-HeavyR.otf");
}
@font-face {
  font-family: 'content-bold';
  src: url("../fonts/font/HKNova-Bold.otf");
}
@font-face {
  font-family: 'content-normal';
  src: url("../fonts/font/HKNova-Medium.otf");
}
@font-face {
  font-family: 'content-thin';
  src: url("../fonts/font/HKNova-Regular.otf");
}
.product-box {
  -webkit-box-shadow: 0px 1px 10px 1px rgba(175, 179, 182, 0.6);
  box-shadow: 0px 1px 10px 1px rgba(175, 179, 182, 0.6);
  margin-bottom: 20px;
}
.product-box .box-text {
  padding: 12px 10px 20px 13px;
}
.product-box .box-text .cate-title a {
  font-size: 29px;
  font-family: 'content-bold';
  transition: .3s ease-out;
}
.product-box .box-text .cate-title a:hover {
  color: #EE1D23;
}
.product-box .box-text .pr-title {
  padding-top: 5px;
}
.product-box .box-text .pr-title a {
  font-size: 18px;
  font-family: 'content-normal';
  color: #EE1D23;
}
.product-box .box-text .desc {
  padding-top: 20px;
}
.product-box .box-text .desc p {
  font-family: 'content-thin';
  font-size: 16px;
}
.product-box .box-text .see-detail {
  font-size: 16px;
  font-family: 'content-thin';
  border: 1px solid #EE1D23;
  background: #fff;
  padding: 5px 30px;
  display: inline-block;
  transition: .3s ease-out;
  margin-top: 15px;
}
.product-box .box-text .see-detail:hover {
  color: #fff;
  background: #EE1D23;
}

.banner-slide .owl-carousel .item {
  margin-bottom: 0px;
}
.banner-slide .owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: rgba(51, 51, 51, 0.678);
}
.banner-slide .owl-carousel.owl-theme .owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 93%;
}
@media only screen and (max-width: 576px) {
  .banner-slide .owl-carousel.owl-theme .owl-dots {
    top: 86%;
  }
}
.banner-slide .owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.banner-slide .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #343A40;
}
.banner-slide .owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 5px 3px;
  background: #FFFFFF;
}
.banner-slide .owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #343A40;
}
.banner-slide .owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}
.banner-slide .owl-carousel .owl-nav {
  opacity: 1;
  visibility: visible;
  transition: .3s ease-in-out;
  margin-top: unset;
}
@media only screen and (max-width: 768px) {
  .banner-slide .owl-carousel .owl-nav {
    opacity: 1;
    visibility: visible;
  }
}
.banner-slide .owl-carousel .owl-nav button {
  background-color: none;
  border: none;
  outline: none;
  font-size: 50px;
  z-index: 4;
  background: rgba(51, 51, 51, 0.678);
  color: #fff;
  margin: 0;
}
.banner-slide .owl-carousel .owl-nav button span {
  display: block;
  margin-bottom: 6px;
  padding: 0px 7px;
}
.banner-slide .owl-carousel .owl-nav button:hover {
  color: #fff;
}
.banner-slide .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: 0px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .banner-slide .owl-carousel .owl-nav button.owl-prev {
    left: 0px;
  }
}
.banner-slide .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: 0px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .banner-slide .owl-carousel .owl-nav button.owl-next {
    right: 0px;
  }
}
.banner-slide .banner-box {
  position: relative;
}
.banner-slide .banner-box .images {
  position: relative;
  z-index: 1;
  height: 660px;
  max-width: 100%;
}
@media only screen and (max-width: 576px) {
  .banner-slide .banner-box .images {
    height: 320px;
  }
}
.banner-slide .banner-box .images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.banner-slide .banner-box .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.37);
  z-index: 2;
}
.banner-slide .banner-box .box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: #fff;
  text-align: center;
  width: 95%;
}
.banner-slide .banner-box .box-text h3 {
  font-size: 35px;
}
.banner-slide .banner-box .box-text h2 {
  font-size: 56px;
  font-family: 'content-bold';
  padding-top: 10px;
}
.banner-slide .banner-box .box-text .btn-see-more {
  font-size: 14px;
  text-transform: capitalize;
  background: #EE1D23;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  padding: 10px 27px;
  display: inline-block;
  margin-top: 20px;
}
@media only screen and (max-width: 576px) {
  .banner-slide .banner-box .box-text h3 {
    font-size: 15px;
  }
  .banner-slide .banner-box .box-text h2 {
    font-size: 16px;
  }
  .banner-slide .banner-box .box-text .btn-see-more {
    font-size: 13px;
    padding: 5px 10px;
  }
}

.hot-deal {
  padding-top: 80px;
}
.hot-deal .hot-deal-title {
  text-align: center;
}
.hot-deal .hot-deal-title h2, .hot-deal .hot-deal-title h1, .hot-deal .hot-deal-title h3 {
  font-size: 34px;
  text-transform: uppercase;
  font-family: 'title-bold';
}
.hot-deal .hot-deal-title .dv-line {
  width: 210px;
  height: 1px;
  background: #EE1D23;
  margin: 15px auto 35px auto;
}
@media only screen and (max-width: 768px) {
  .hot-deal {
    padding-top: 60px;
  }
}
@media only screen and (max-width: 576px) {
  .hot-deal {
    padding-top: 30px;
  }
}
.hot-deal .recent-free-self .box-self {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.hot-deal .recent-free-self .box-self:hover .images img {
  transform: scale(1.1);
}
.hot-deal .recent-free-self .box-self:hover .box-text {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}
.hot-deal .recent-free-self .box-self .images {
  position: relative;
  max-width: 100%;
  height: 240px;
  overflow: hidden;
  z-index: 1;
}
.hot-deal .recent-free-self .box-self .images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  transition: .3s ease-out;
}
.hot-deal .recent-free-self .box-self .box-text {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0;
  background: #ee1d24ab;
  text-align: center;
  transition: .3s ease-out;
  z-index: 2;
  padding: 11px 0px;
  transform: translateY(70%);
  opacity: 0;
  visibility: hidden;
}
.hot-deal .recent-free-self .box-self .box-text h4 {
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
}
.hot-deal .owl-carousel .item {
  margin-bottom: 0px;
}
.hot-deal .owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: rgba(51, 51, 51, 0.678);
}
.hot-deal .owl-carousel.owl-theme .owl-dots {
  margin-top: -15px;
}
.hot-deal .owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.hot-deal .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #EE1D23;
}
.hot-deal .owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 5px 3px;
  background: #000;
}
.hot-deal .owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #EE1D23;
}
.hot-deal .owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}

.popular-product {
  padding-top: 80px;
}
.popular-product .main-title {
  text-align: center;
}
.popular-product .main-title h2, .popular-product .main-title h1, .popular-product .main-title h3 {
  font-size: 34px;
  text-transform: uppercase;
  font-family: 'title-bold';
}
.popular-product .main-title .dv-line {
  width: 210px;
  height: 1px;
  background: #EE1D23;
  margin: 15px auto 35px auto;
}

.blogs {
  padding-top: 80px;
}
.blogs .main-title {
  text-align: center;
}
.blogs .main-title h2, .blogs .main-title h1, .blogs .main-title h3 {
  font-size: 34px;
  text-transform: uppercase;
  font-family: 'title-bold';
}
.blogs .main-title .dv-line {
  width: 210px;
  height: 1px;
  background: #EE1D23;
  margin: 15px auto 35px auto;
}
.blogs .card {
  border: none;
}
.blogs .blogs-box {
  border: none;
}
.blogs .blogs-box .images {
  height: 390px;
}
@media only screen and (max-width: 768px) {
  .blogs .blogs-box .images {
    height: auto;
  }
}
@media only screen and (max-width: 768px) {
  .blogs .blogs-box {
    margin-bottom: 25px;
  }
}
.blogs .blogs-box-vertical {
  flex-direction: row;
  margin-bottom: 30px;
}
.blogs .blogs-box-vertical .images {
  height: 180px;
  flex: 0 0 43.6%;
}
@media only screen and (max-width: 768px) {
  .blogs .blogs-box-vertical .images {
    height: 120px;
  }
}
.blogs .blogs-box-vertical .blog-title {
  padding-top: 0px;
}
.blogs .blogs-box-vertical .box-text {
  flex: 0 0 56%;
  margin-left: 15px;
}
.blogs .blogs-box-vertical .desc {
  padding-top: 15px;
}
.blogs .blogs-box-vertical .desc p {
  -webkit-line-clamp: 4;
}
@media only screen and (max-width: 768px) {
  .blogs .blogs-box-vertical .desc {
    padding-top: 10px;
  }
  .blogs .blogs-box-vertical .desc p {
    -webkit-line-clamp: 2;
  }
}
.blogs .images {
  max-width: 100%;
  overflow: hidden;
}
.blogs .images img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.blogs .blog-title {
  padding-top: 14px;
}
.blogs .blog-title a {
  font-size: 22px;
  transition: .3s ease-out;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blogs .blog-title a:hover {
  color: #EE1D23;
}
.blogs .desc {
  padding-top: 15px;
}
.blogs .desc p {
  font-size: 15px;
  font-family: 'content-thin';
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.client-feel {
  background-image: url("../images/bn2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 75px 0px;
  margin-top: 60px;
}
.client-feel .client-title {
  text-align: center;
}
.client-feel .client-title h2, .client-feel .client-title h1, .client-feel .client-title h3 {
  font-size: 34px;
  text-transform: uppercase;
  font-family: 'title-bold';
}
.client-feel .client-title .dv-line {
  width: 210px;
  height: 1px;
  background: #EE1D23;
  margin: 15px auto 35px auto;
}
.client-feel .client-title h2 {
  color: #fff;
}
.client-feel .client-title .dv-line {
  background: #fff;
}
.client-feel .card {
  border: none;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
}
.client-feel .card.client-box:hover .box-text h4 {
  color: #EE1D23;
}
.client-feel .card.client-box .box-images {
  max-width: 220px;
  height: 125px;
  overflow: hidden;
  position: relative;
}
.client-feel .card.client-box .box-images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .client-feel .card.client-box .box-images img {
    object-fit: cover;
  }
}
.client-feel .card.client-box .box-images .fa {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 45px;
  height: 45px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.client-feel .card.client-box .box-text {
  padding: 20px;
}
.client-feel .card.client-box .box-text h4 {
  font-size: 14px;
  font-family: 'content-thin';
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 22px;
  transition: .3s ease-out;
}
.client-feel .owl-carousel .item {
  margin-bottom: 10px;
}
.client-feel .owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: #ee1d2493;
}
.client-feel .owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}
.client-feel .owl-carousel .owl-nav {
  opacity: 1;
  visibility: visible;
  transition: .3s ease-in-out;
  margin-top: unset;
}
@media only screen and (max-width: 768px) {
  .client-feel .owl-carousel .owl-nav {
    opacity: 1;
    visibility: visible;
  }
}
.client-feel .owl-carousel .owl-nav button {
  background-color: #adadad9a;
  border: none;
  outline: none;
  font-size: 30px;
  z-index: 4;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.client-feel .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 45%;
  left: -25px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .client-feel .owl-carousel .owl-nav button.owl-prev {
    left: -20px;
  }
}
.client-feel .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 45%;
  right: -25px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .client-feel .owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }
}

.our-partner {
  padding: 50px 0px;
}
.our-partner .partner-title {
  text-align: center;
}
.our-partner .partner-title h2, .our-partner .partner-title h1, .our-partner .partner-title h3 {
  font-size: 34px;
  text-transform: uppercase;
  font-family: 'title-bold';
}
.our-partner .partner-title .dv-line {
  width: 210px;
  height: 1px;
  background: #EE1D23;
  margin: 15px auto 35px auto;
}
.our-partner .row.no-gutters > [class*=col-] {
  padding-right: 10px;
  padding-left: 10px;
}
.our-partner .box-logo {
  background: #F1F2F2;
  border: 1px solid #D9DBDC;
  border-radius: 5px;
  padding: 25px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 220px;
  margin-bottom: 20px;
}
.our-partner .box-logo img {
  width: 100%;
  vertical-align: middle;
}
